	<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="img/fav.png">
		<!-- Author Meta -->
		<meta name="author" content="colorlib">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>Abhik Sarkar</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="css/linearicons.css">
			<link rel="stylesheet" href="css/font-awesome.min.css">
			<link rel="stylesheet" href="css/bootstrap.css">
			<link rel="stylesheet" href="css/magnific-popup.css">
			<link rel="stylesheet" href="css/jquery-ui.css">
			<link rel="stylesheet" href="css/nice-select.css">
			<link rel="stylesheet" href="css/animate.min.css">
			<link rel="stylesheet" href="css/owl.carousel.css">
			<link rel="stylesheet" href="css/main.css">
			<link href="img/icon1.png" rel="icon">
		</head>
		<body>
			<!-- navigation header -->
			<header id="header">
			<div class="container main-menu">
			    <div class="row align-items-center justify-content-between d-flex">
			      <div id="logo">
			        <a href="/"><img src="img/logo.png" alt="" title="" /></a>
			      </div>
			      <nav id="nav-menu-container">
			        <ul class="nav-menu">
						<li><a href="/">Home</a></li>
  	                  <li><a href="/about">About</a></li>
  	                  <li><a href="/projects">Projects</a></li>
  	                  <li><a href="/experience">Experience</a></li>
  	                  <li><a href="/contact">Contact</a></li>
			        </ul>
			      </nav><!-- #nav-menu-container -->
			    </div>
			</div>
			</header>

			<!-- start banner Area -->
			<section class="banner-area">
				<div class="container">
					<div class="row fullscreen align-items-center justify-content-between">
						<div class="col-lg-6 col-md-6 banner-left">
							<h6>This is me</h6>
							<h1>Abhik Sarkar</h1>
							<h4>RPA | Full Stack Developer | Android Developer</h4>
							<br>
							<br>
							<!-- <p>
								Full Stack Deveoper | Android Developer | Computer Science Enthusiast
							</p> -->
							<a href="img/abhik_sarkar.pdf" download = "Abhik_Sarkar_Resume"class="primary-btn text-uppercase">resume</a>
						</div>
						<div class="col-lg-6 col-md-6 banner-right d-flex align-self-end">
							<img class="img-fluid" src="img/final2.png" alt="">
						</div>
					</div>
				</div>
			</section>
			<!-- End banner Area -->

			<!-- Start home-about Area -->
			<section class="home-about-area pt-120">
				<div class="container">
					<div class="row align-items-center justify-content-between">
						<div class="col-lg-6 col-md-6 home-about-left">
							<img class="img-fluid" src="img/final3.png" alt="">
						</div>
						<div class="col-lg-5 col-md-6 home-about-right">
							<h6>About Me</h6>
							<h1 class="text-uppercase">Personal Details</h1>
							<p>
								Hi, I'm Abhik <br><br>
								Developer | Tech Enthusiast | Foodie | Swimmer | Artist | Otaku <br><br>
								Intrigued and inspired by the world of Computer Science, Anime, I have always tried to think creatively. Creativity and Authenticity adheres to my spirit and that's what I will always follow.<br> <br>
								Seeking to be inspired, to envision the unlikely, to work hard for things that are worth it, and to be surrounded by those who bring out the best in me.
							</p>
							<a href="/about" class="primary-btn text-uppercase">View Full Details</a>
						</div>
					</div>
				</div>
			</section>
			<!-- End home-about Area -->

			<!-- Start projects Area -->
			<section class="services-area section-gap">
				<div class="container">
		            <div class="row d-flex justify-content-center">
		                <div class="menu-content  col-lg-7">
		                    <div class="title text-center">
		                        <h1 class="mb-10">My Projects</h1>
							</div>
		                </div>
		            </div>
					<div class="row">
						<div class="col-lg-4 col-md-6">
							<div class="single-services">
								<span class="lnr lnr-laptop-phone"></span>
								<a href ="https://github.com/cobra27/Evaluate"><h4>£-Valuate</h4></a>
								<p>
									An auction-based e-commerce website which is based on Vickrey auctions in NodeJS, MongoDB as backend and HTML, CSS and JavaScript as frontend.
								</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="single-services">
								<span class="lnr lnr-laptop-phone"></span>
								<a href="https://github.com/cobra27/Event-Management"><h4>Club Event Management</h4></a>
								<p>
									A website which sorts and manages college club events and sends a reminder to the interested students. It uses Django as backend and HTML CSS JavaScript as the frontend.
								</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="single-services">
								<span class="lnr lnr-laptop-phone"></span>
								<a href="https://mighty-shelf-39924.herokuapp.com/"><h4>Personal Website</h4></a>
								<p>
									<a href="https://abhiksarkar.me">abhiksarkar.me
								</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="single-services">
								<span class="lnr lnr-laptop-phone"></span>
								<a href="https://mighty-shelf-39924.herokuapp.com/"><h4>IFSC code</h4></a>
								<p>
									A website which generates bank details if the IFSC <a href="https://github.com/cobra27/IFSC"> code is entered.
								</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="single-services">
								<span class="lnr lnr-tablet"></span>
								<a href="https://github.com/cobra27/MBTI"><h4>MBTI Personality Type Indicator</h4></a>
								<p>
									An Android app which basically tells you your MBTI personality type by the help of a small quiz. It uses Firebase and SQLite.
								</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="single-services">
								<span class="lnr lnr-rocket"></span>
								<a href="#"><h4>TCP Chat Box Java Swing Application</h4></a>
								<p>
									A Multi-User Chat Box using TCP Socket Programming in Java and Front End in Java Swing.
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End projects Area -->





            <!-- start footer Area -->
            <footer class="footer-area section-gap">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-6 col-sm-6">
                            <div class="single-footer-widget">
                                <h4>About Me</h4>
                                <p class="footer-text"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
&copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://abhiksarkar.me" target="_blank">Abhik Sarkar</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                            </div>
                        </div>
						<div class="col-lg-5 col-md-6 col-sm-6">
                            <div class="single-footer-widget">
								<h4>Contact Me</h4>
								<a href="/contact" class="primary-btn text-uppercase">contact now</a>
							</div>
						</div>
                        <div class="col-lg-2 col-md-6 col-sm-6 social-widget">
                            <div class="single-footer-widget">
                                <h4>Follow Me</h4>
                                <p>Let us be social</p>
                                <div class="footer-social d-flex align-items-center">
                                    <a href="https://github.com/cobra27/"><i class="fa fa-github"></i></a>
                                    <a href="https://www.linkedin.com/in/abhik-sarkar-b87553136/"><i class="fa fa-linkedin"></i></a>
                                    <a href="https://www.facebook.com/abhik.sarkar.3382"><i class="fa fa-facebook"></i></a>
                                    <a href="https://www.instagram.com/the._.mastermind/"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </footer>
            <!-- End footer Area -->

			<script src="js/vendor/jquery-2.2.4.min.js"></script>
			<script src="js/popper.min.js"></script>
			<script src="js/vendor/bootstrap.min.js"></script>
			<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  			<script src="js/easing.min.js"></script>
			<script src="js/hoverIntent.js"></script>
			<script src="js/superfish.min.js"></script>
			<script src="js/jquery.ajaxchimp.min.js"></script>
			<script src="js/jquery.magnific-popup.min.js"></script>
    		<script src="js/jquery.tabs.min.js"></script>
			<script src="js/jquery.nice-select.min.js"></script>
            <script src="js/isotope.pkgd.min.js"></script>
			<script src="js/waypoints.min.js"></script>
			<script src="js/jquery.counterup.min.js"></script>
			<script src="js/simple-skillbar.js"></script>
			<script src="js/owl.carousel.min.js"></script>
			<script src="js/mail-script.js"></script>
			<script src="js/main.js"></script>
		</body>
	</html>
